<div class="container-fluid">
  <div class="row justify-content-center flex-register-container">
    <div class="col-lg-3 register-container">
      <div class="row justify-content-center">
        <div class="div-register-title">
          <h1>{{ title }}</h1>
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center">
          <div *ngIf="form.errors?.auth" class="div-register-errors">
            {{form.errors?.register}}
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <input type="text" required formControlName="Username" class="form-control" placeholder="Username" />
            <div *ngIf="hasError('Username')" class="alert alert-danger">
              Enter correct username!
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <input type="email" required formControlName="Email" class="form-control" placeholder="Email" />
            <div *ngIf="hasError('Email')" class="alert alert-danger">
              Enter correct Email!
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <input type="text" required formControlName="Name" class="form-control" placeholder="Name" />
            <div *ngIf="hasError('Name')" class="alert alert-danger">
              Enter correct name!
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <input type="text" required formControlName="Surname" class="form-control" placeholder="Surname" />
            <div *ngIf="hasError('Surrname')" class="alert alert-danger">
              Enter correct surname!
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <input type="password" required formControlName="Password" class="form-control" placeholder="Password" />
            <div *ngIf="hasError('Password')" class="alert alert-danger" role="alert">
              Enter correct password!
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-12">
            <input type="password" required formControlName="ConfirmPassword" class="form-control" placeholder="Confirm password" />
            <div *ngIf="hasError('ConfirmPassword')" class="alert alert-danger" role="alert">
              Passwords should be the same!
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row justify-content-center">
              <button [disabled]="form.invalid" type="submit" class="btn btn-success">Sign up!</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


