<div class="background">

</div>
<div class="container-fluid main">
  <div class="row justify-content-center flex-login-container">
    <div class="col-lg-2 signup-container">
        <fa-icon class="icon-add-user" [icon]="faUsers"></fa-icon>
        <h4>Don't have an account yet?</h4>
        <button class="btn btn-outline-light" [routerLink]='["/register"]'>Sign up</button>
    </div>
    <div  class="col-lg-3 flex-login">
      <div class="col-lg-12 login-container">
        <div class="row justify-content-center">
          <div class="div-login-title">
            <h1>{{ title }}</h1>
          </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row justify-content-center">
            <div *ngIf="form.errors?.auth" class="div-login-errors">
              {{form.errors?.auth}}
            </div>
          </div>
          <div class="row">
            <div class="form-group col-12">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faUser"></fa-icon></span>
                </div>
                <input type="text" class="form-control" formControlName="Username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div *ngIf="hasError('Username')" class="text-danger">
                Enter correct login!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-12">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faUnlockAlt"></fa-icon></span>
                </div>
                <input type="password" class="form-control"formControlName="Password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
              </div>
              <div *ngIf="hasError('Password')" class="text-danger" role="alert">
                Enter correct password!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row justify-content-center">
                <button [disabled]="form.invalid" type="submit" class="btn btn-success">Sign in</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row justify-content-end">
                <a href="#" class="btn btn-link">Forgot password?</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    
  </div>
</div>


