@import "../../styles/main.less";
.div-sensor {
  text-align: center;
  position:relative;
  p {
    font-size: 0.9em;
    color: @pink;
  }

  fa-icon {
    color: white;
  }

  .sensor-value {
    position: absolute;
    background-color: @pink;
    border-radius: 10px;
    z-index: 99;
    color: white;
    padding: 2px 5px;
    font-size: 0.8em;
    right: 0px;
  }
}


.light{
  background-color: orangered;
}

.submersion{
  background-color:dodgerblue;
}

.temperature{
  background-color: red;
}


