<div class="container-fluid main-home">
  <div class="row">
    <div class="col-12">
      <mdb-card cascade="true" wider="true" reverse="true" class="my-4" id="controller-card">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <div class="card-div">
            <h1><fa-icon [icon]="faUserAstronaut"></fa-icon> Admin panel</h1>
          </div>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
        <!-- Card content -->
        <mdb-card-body cascade="true" class="text-center">

          <!--Title-->
          <mdb-card-title>
            <h4>
              <strong>Your controllers:</strong>
            </h4>
          </mdb-card-title>
          <app-controller-list (onChanged)="onControllerChange($event)"
                               (onDeleteController)="onDelete()"></app-controller-list>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <app-sensor-list *ngIf="selectedItem && selectedItem.controller.status" [controller]="selectedItem.controller" [isAdmin]="selectedItem.isAdmin"></app-sensor-list>
    </div>
    <div class="col-lg-6">
      <app-device-list *ngIf="selectedItem && selectedItem.controller.status" [controller]="selectedItem.controller" [isAdmin]="selectedItem.isAdmin"></app-device-list>
    </div>
  </div>
</div>




