@import "../../styles/main.less";
.div-controller {
  text-align: center;

  .div-controller-circle-background {
    background: @pink;

    fa-icon {
      color: white;
    }
  }

  .div-controller-circle-outline {
    border: 3px solid @pink;

    fa-icon {
      color: @pink;
    }
  }

  p {
    font-size: 0.9em;
    color: @pink;
  }

  .controller-switch {
    position: absolute;
    bottom: -5px;
    right: -8px;
  }
}
