
<div class="div-controller" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (click)="menuTrigger.closeMenu()" (contextmenu)="toggleMenu()" >
  <div class="base-item-circle" #controllerElement>
    <fa-icon [icon]="faHome"></fa-icon>
    <div class="custom-control custom-switch base-switch" *ngIf="userHasController.isAdmin && class === 'selected'">
      <mat-slide-toggle [(ngModel)]="userHasController.controller.status"
                        (change)="changeStatus()"></mat-slide-toggle>
    </div>
  </div>
  <p>{{userHasController.controller.name}}</p>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editController()">Edit</button>
  <button mat-menu-item (click)="deleteController()">Delete</button>
</mat-menu>
