
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">

    <!-- Card content -->
    <mdb-card-body cascade="true" class="text-center">

      <!--Title-->
      <mdb-card-title>
        <h4>
          <strong>Your sensors:</strong>
        </h4>
      </mdb-card-title>
        <ul class="item-ul">
          <li *ngFor="let sensor of sensors"><app-sensor-item [sensor]="sensor" (onSensorDelete)="deleteSensor($event)"></app-sensor-item></li>
          <li><add-button (click)="addSensor()"></add-button></li>
        </ul>
      
    </mdb-card-body>
  </mdb-card>
